@font-face {
    font-family: 'LIB-P';
    src: url("https://cdn.rawgit.com/kostasprint/twinetest/094b0e32/styles/LIBERTA-piena.otf");
    }

@font-face {
    font-family: 'LIB-P';
    src: url("/styles/LIBERTA-piena.otf");
}

* {
    font-family: 'LIB-P' !important;
}

tw-sidebar tw-icon.redo {
	display: none;
}
tw-sidebar tw-icon.undo {
	display: none;
}

tw-story {
  padding: 5%;
}

tw-passage {
  position: relative;
}
tw-link {color: Yellow;}

.container {
  height: 100%;
}

html {
	background-color: #FFFFFF;
}

html.Rossa tw-story {
	background-color: Red;
}

html.Blu tw-story {
	background-color: Blue;
}

html.Marrone tw-story {
	background-color: Brown;
}

body {
    background-color: black;
}

html, body {
    height: 100%;
    margin: 0;
}

#bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:auto;
    height:50vh;
    margin-top:30vh;
  	width: 100vw;
  	position: fixed;
  	top:0;
  	left: 0;
}

* {
    font-family: 'LIB-P';
    transition:all .3s;
}
.flex {
    display:flex;
    text-align:center;
    padding: 1em;
    justify-content: space-between;
    width:100%;
    position:fixed;
    bottom:0;
  	left:0;
    z-index:9999;
    background-color: black;

}

span.answer tw-link {
    padding: 1em;
    text-align: center;
    vertical-align: bottom;
    transition: all .3s;
    cursor: pointer;
}
span.answer tw-link:hover{
    color:red;
    transition: all .3s;
}
.title {
    line-height:1.5em;
    font-size:3em;
    color: white;
    text-align: center;
    position:fixed;
    top:0;
  	left:0;
    margin: 0;
    padding:5%;
    background-color: black;
}

.answer tw-link{
    font-size:2vw;
    color: white;
}

@media only screen and (max-width: 600px) {
    .title{
        width:90%;
        padding:5%
    }
    #bg{
        margin:10vh;
    }
    .flex {
        width:90%;
        padding:5%;
        display: block;
    }
    a.answer tw-link{
        width:90%;
        padding:5%;
        display: block;
    }
    * {
        font-size: 1em!important;
    }
}

.acceleriamo0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/acceleriamo0.jpg");
}

.acceleriamo1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/acceleriamo1.jpg");
}

.acceleriamo2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/acceleriamo2.png");
}

.acceleriamo3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/acceleriamo3.jpg");
}

.acceleriamo4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/acceleriamo4.jpg");
}



.accettocondizioni0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/accettocondizioni0.jpg");
}

.accettocondizioni1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/accettocondizioni1.jpg");
}

.accettocondizioni2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/accettocondizioni2.png");
}

.accettocondizioni3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/accettocondizioni3.jpg");
}

.accettocondizioni4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/accettocondizioni4.jpg");
}



.algoritmo0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/algoritmo0.jpg");
}

.algoritmo1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/algoritmo1.jpg");
}

.algoritmo2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/algoritmo2.png");
}

.algoritmo3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/algoritmo3.jpg");
}



.bestia0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/bestia0.jpg");
}

.bestia1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/bestia1.jpg");
}

.bestia2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/bestia2.jpg");
}

.bestia3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/bestia3.jpg");
}



.birretta0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/birretta0.jpg");
}

.birretta1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/birretta1.jpg");
}

.birretta2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/birretta2.png");
}

.birretta3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/birretta3.jpg");
}

.birretta4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/birretta4.jpg");
}




.cosafare0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/cosafare0.jpg");
}

.cosafare1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/cosafare1.jpg");
}

.cosafare2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/cosafare2.png");
}

.cosafare3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/cosafare3.jpg");
}

.cosafare4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/cosafare4.jpg");
}



.dio0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio0.jpg");
}

.dio1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio1.jpg");
}

.dio2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio2.png");
}

.dio3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio3.jpg");
}

.dio4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio4.jpg");
}

.dio5 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio5.jpg");
}

.dio6 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio6.jpg");
}

.dio7 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio7.png");
}

.dio8 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio8.jpg");
}

.dio9 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio9.jpg");
}

.dio10 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio10.jpg");
}

.dio11 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/dio11.jpg");
}


.economia0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/economia0.jpg");
}

.economia1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/economia1.jpg");
}

.economia2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/economia2.jpg");
}

.economia3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/economia3.jpg");
}


.facebook0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/facebook0.jpg");
}

.facebook1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/facebook1.jpg");
}

.facebook2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/facebook2.jpg");
}

.facebook3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/facebook3.jpg");
}


.finance0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/finance0.jpg");
}

.finance1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/finance1.jpg");
}

.finance2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/finance2.jpg");
}

.finance3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/finance3.jpg");
}


.fuckpatriarchy0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/fuckpatriarchy0.gif");
}

.fuckpatriarchy1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/fuckpatriarchy1.jpg");
}

.fuckpatriarchy2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/fuckpatriarchy2.jpg");
}

.fuckpatriarchy3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/fuckpatriarchy3.jpg");
}


.idee0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/idee0.gif");
}

.idee1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/idee1.jpg");
}

.idee2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/idee2.png");
}


.lavoro0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/lavoro0.gif");
}

.lavoro1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/Lavoro1.jpg");
}

.lavoro2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/lavoro2.jpg");
}

.lavoro3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/lavoro3.jpg");
}


.marte0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/marte0.jpg");
}

.marte1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/marte1.jpg");
}

.marte2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/marte2.jpg");
}

.marte3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/marte3.png");
}


.nascondino0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/nascondino0.jpg");
}

.nascondino1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/nascondino1.jpg");
}

.nascondino2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/nascondino2.png");
}

.nascondino3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/nascondino3.png");
}


.natura0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/natura0.jpg");
}
.natura1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/natura1.jpeg");
}

.natura2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/natura2.png");
}

.natura3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/natura3.jpg");
}

.natura4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/natura4.jpg");
}



.nosoldi0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/nosoldi0.jpg");
}
.nosoldi1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/nosoldi1.jpg");
}

.nosoldi2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/nosoldi2.jpg");
}

.nosoldi3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/nosoldi3.gif");
}


.perchelavori0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/perchelavori0.jpg");
}
.perchelavori1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/perchelavori1.jpg");
}

.perchelavori2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/perchelavori2.jpg");
}

.perchelavori3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/perchelavori3.jpg");
}


.possiedi0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/possiedi0.png");
}
.possiedi1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/possiedi1.jpg");
}

.possiedi2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/possiedi2.gif");
}

.possiedi3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/possiedi3.jpg");
}

.possiedi4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/possiedi4.jpg");
}


.rivoluzione0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/rivoluzione0.jpg");
}
.rivoluzione1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/rivoluzione1.jpg");
}

.rivoluzione2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/rivoluzione2.jpg");
}

.rivoluzione3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/rivoluzione3.jpg");
}



.Scenario0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/Scenario0.jpg");
}

.Scenario1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/Scenario1.jpg");
}

.Scenario2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/Scenario2.jpg");
}

.Scenario3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/Scenario3.jpg");
}

.Scenario4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/Scenario4.jpg");
}

.Scenario5 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/Scenario5.jpg");
}

.Scenario6 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/Scenario6.jpg");
}



.selfcare0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/selfcare0.jpg");
}

.selfcare1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/selfcare1.jpg");
}

.selfcare2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/selfcare2.jpg");
}



.spiato0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/spiato0.png");
}

.spiato1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/spiato1.jpg");
}

.spiato2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/spiato2.png");
}

.spiato3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/spiato3.jpg");
}

.spiato4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/spiato4.png");
}

.spiato5 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/spiato5.png");
}


.wifi0 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/wifi0.jpg");
}

.wifi1 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/wifi1.jpg");
}

.wifi2 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/wifi2.jpg");
}

.wifi3 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/wifi3.jpg");
}

.wifi4 {
    background-image: url("https://rawgit.com/kostasprint/twinetest/master/asset/wifi4.jpg");
}
