@font-face {
    font-family: 'LIB-P';
    src: url("https://cdn.rawgit.com/kostasprint/twinetest/094b0e32/styles/LIBERTA-piena.otf");
    }

@font-face {
    font-family: 'LIB-P';
    src: url("/styles/LIBERTA-piena.otf");
}

* {
    font-family: 'LIB-P' !important;
}

tw-link {color: Yellow;}

html {
	background-color: #FFFFFF;
}

html.Rossa tw-story {
	background-color: Red;
}

html.Blu tw-story {
	background-color: Blue;
}

html.Marrone tw-story {
	background-color: Brown;
}








